MSSQL_SA_PASSWORD=ChangeThis_Strong_Password_2026!
MEDICORE_DB=MediCore
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=MediCore;User Id=sa;Password=ChangeThis_Strong_Password_2026!;TrustServerCertificate=True;Encrypt=False
Database__InitializeOnStartup=true
Auth__AllowBootstrapAdmin=true
Jwt__SigningKey=ChangeThis_To_A_Long_Random_Secret_With_At_Least_32_Characters
Jwt__Issuer=MediCore
Jwt__Audience=MediCore.Web
